[default]
# MAF or PA (other scenario type in this file will be ignored)
scenarioType = MAF

[environment]
rootPath = /nfs/avid/users1/miklau/webdamlog


[scenarioMAF]
numFollowers = 18
numAggregators = 9
aggPerFollower = 3
# can be space delimited list from PUB PRIV KNOWN
policy = PUB PRIV KNOWN			
numFacts = 1000
# can be space delimited list from UNION_OF_JOINS JOIN_OF_UNIONS
ruleScenario = UNION_OF_JOINS JOIN_OF_UNIONS		
valRange = 1000
numExtraCols = 4
numHosts = 4
hosts = miklau1 miklau2 miklau3 miklau4
numPeersPerHost = 9

# ... not fully implemented yet ...
[scenarioPA]
networkFile = facebook-u19-i10.txt
policy = PUBLIC PRIVATE KNOWN
numFacts = 1000
valRange = 1000
hosts = miklau1 miklau2 miklau3 miklau4
numPeersPerHost = 9






[execution]
# if numRuns = 0 no executions take place (still useful for generating or checking scenarios)
numRuns = 1
# These are pairs of boolean indicators: first is for access control, second is for optim1
# 00 - no access control
# 10 - access control, no optim1
# 11 - access control, with optim1
# 01 - not valid
accessControl = 00

ticks = 30

sleep = 0.25

masterDelay = 2.0